BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 88

Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: false

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakTemplateDeclarations: Yes

BreakBeforeBraces : Allman

# TODO: bump to clang 22
# BreakBeforeCloseBracketIf: true
# BreakBeforeCloseBracketLoop: true

BreakBeforeTemplateCloser: true
BreakBeforeTernaryOperators: true

AllowShortLambdasOnASingleLine: false
AllowAllConstructorInitializersOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left

PointerAlignment: Left
DerivePointerAlignment: false
Standard: Latest
SortIncludes: true
SortUsingDeclarations: true

IncludeCategories:
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        3

StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
TabWidth: 4
UseTab: Never

BinPackParameters: OnePerLine
IndentCaseLabels: true
